{% extends "base.html" %}
{% block content %}

<h1>Rediger arrangement</h1>
    <form method="POST" action="{{ url_for('edit_event', event_id=arrangement.id) }}" class="form" enctype="multipart/form-data">
        <div>
            <label for="navn">Navn på arrangement:</label>
            <input type="text" id="navn" name="navn" value="{{ arrangement.navn }}" required>
        </div>
        <div>
            <label for="beskrivelse">Beskrivelse:</label>
            <textarea id="beskrivelse" name="beskrivelse" rows="5" required>{{ arrangement.beskrivelse }}</textarea>
        </div>
        <div>
            <label for="dato">Dato og tidspunkt:</label>
            <input type="datetime-local" id="dato" name="dato" value="{{ arrangement.dato_str }}" required>
        </div>
        <div>
            <label for="sted">Sted:</label>
            <input type="text" id="sted" name="sted" value="{{ arrangement.sted }}" required>
        </div>
        <div>
            <label for="bilde">Oppdater bilde:</label>
            <input type="file" id="bilde" name="bilde">
            <small>Valgfritt</small>
            {% if arrangement.bilde %}
                <p>Nåværende bilde: <img src="{{ url_for('static', filename='photos/' + arrangement.bilde) }}" alt="{{ arrangement.navn }}" style="max-width: 100px;"></p>
            {% endif %}
        </div>
        <button type="submit">Lagre endringer</button>
        <a href="/my_events" class="link">Avbryt</a>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>

{% endblock %}